@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

body {
  margin: 0;
  font-family: 'Oxygen', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to right, #120064a2, #3f007ab6);
}

button {
  cursor: pointer;
}
